h2.appTitle{
    margin-bottom:0px;
}

h4.appSubtitle{
    font-size: 10pt;
    margin-top:0px;
    margin-bottom: 15px;
}

div .appVersion{
    text-align: right;
    font-size: 8pt;
}
div .logo{
    height: 180px;
    margin-bottom:40px;
    //width:inherit; 
    //display: block;
    img{
        height: 110%;
    } 
}
