.toolbar-background{
    transform: none;
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}
//.content-header{
//ion-header.details-page{
ion-content{
    ion-title{
        background:color($colors,primary);    
        color:color($colors,primary);
        text-align: center;
        /*
        box-shadow:
        inset 0 60px 0 color($colors,primary);
        */
        p{
            font-size: 8pt;
            margin:0;
            color:color($colors, light)
        }
        //inset 0 -50px 0 blue;
        img{
            width: 80px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            margin-top:0px;    
            //border:1px solid white;                
        }  
        ion-icon.details-icon{
            font-size: 60pt;
            color:color($colors,light);
        }   

        button.fab{
            position: absolute;
            top:48%;
            left:52%;            
            color:color($colors,light);
            width: 34px;
            height:34px;
        } 
    }
    
    ion-item{
        //background: transparent;
    }
}