<ion-menu [content]="nav">        
    <ion-header>
        <ion-toolbar>                        
            <ion-item no-lines class="menu-title">{{menuTitle}}<button *ngIf="!hideMenuBackButton" ion-button item-right (click)="upMenuLevel()"><ion-icon name="arrow-back"></ion-icon></button></ion-item>
        </ion-toolbar>
    </ion-header>   
    <ion-content class="toolbarContent">
        <ion-list>
            <div *ngFor="let page of currentMenu">
                <button ion-item  *ngIf="page.children===null;else subMenuButton" (click)="showChildren(page.id)" menuClose><ion-icon item-left name="{{page.icon}}"></ion-icon>{{page.title}}</button>                
                <ng-template #subMenuButton><button ion-item (click)="showChildren(page.id)"><ion-icon item-left name="{{page.icon}}"></ion-icon>{{page.title}}<ion-icon item-right name="arrow-forward"></ion-icon></button></ng-template>
            </div>
        </ion-list>        
    </ion-content>
</ion-menu>
<!--
<ion-menu [content]="nav">    
    <ion-content class="toolbarContent">
        <ion-list>            
            <button ion-item *ngFor="let page of menuOptions" (click)="goToPage(page.component)" menuClose><ion-icon item-left name="{{page.icon}}"></ion-icon>{{page.title}}</button>            
        </ion-list>        
    </ion-content>
</ion-menu>
-->
<ion-nav [root]="rootPage" #nav></ion-nav>
